<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="/dist/output.css" rel="stylesheet">
  <title>{{ .PageTitle }}</title>
</head>

<body class="text-gray-800 antialiased">
  {{embed}}
</body>
<script>
  async function fetchAsync(url) {
    let response = await fetch(url);
    let data = await response.json();
    return data;
  }

  async function update() {
    for (let i = 0; i < 50; i++) {
      await new Promise(r => setTimeout(r, 1000));
      let data = await fetchAsync("http://localhost:8080/status/{{.Id}}");
      console.log(data);
      let node = document.getElementById("node" + data.Id + "Status")
      node.innerText = data.Status;
      if (data.Status === "Online") {
        node.classList = "px-2.5 py-0.5 text-lg text-green-800 bg-green-100 rounded-xl";
      } else {
        node.classList = "px-2.5 py-0.5 text-lg text-red-800 bg-red-100 rounded-xl";
      }
      let messages = document.getElementById("node" + data.Id + "Messages")
      messages.innerText = data.Messages;
      let round = document.getElementById("node" + data.Id + "Round")
      round.innerText = data.Round;
    }
  }
  window.onload = update;
</script>

</html>